include layouts/mainLayout
.container-fluid.mt-5.ms-5
    .row
        .col
            table
                thead
                    tr
                        th Top Customers
                tbody
                    tr
                        td
            form(method='get' action='/cust')
                button.ms-5(type='submit' class='btn btn-secondary') See All

        .col
            table
                thead
                    tr
                        th Top Products
                tbody
                    tr
                        td
            form(method='get' action='/products')
                button.ms-5(type='submit' class='btn btn-secondary') See All

        .col
            table
                thead
                    tr
                        th Top Months per Sales
                tbody
                    tr
                        td
            form(method='get' action='/sales')
                button.ms-5(type='submit' class='btn btn-secondary') See All


