include layouts/mainLayout
.container-fluid.mt-5.ms-5
    .row
        .col
            table
                thead
                    tr
                        th Top Customers
                tbody
                    tr
                        td

        .col
            table
                thead
                    tr
                        th Top Products
                tbody
                    tr
                        td

        .col
            table
                thead
                    tr
                        th Top Months per Sales
                tbody
                    tr
                        td 



