include layouts/mainLayout
.container.mt-5
    div.bg-white(style={border: '2px solid black', margin: '0 5% 5% 5%', padding: '2%'})
        h2 #{pageTitle}
        p.mt-5 Sorry This Page Could Not Be Found. Click Home Above to Return to Home.
