include layouts/mainLayout
.container.mt-5
    div(style={ margin: '0 5% 5% 5%', padding: '2%'})
        table#salesTable
            thead
                tr
                    th Sales Date
                    th Customer Name
                    th Total Sales
                    th Item Name
                    th Item Quantity
            //tbody
            //    each s in sList
            //        tr
            //            td= s.SalesDate
            //            td= s.CustomerName
            //            td= s.TotalSales
            //            td= s.ItemName
            //            td= s.ItemQuantity
